<nav class="navbar navbar-expand-lg " style="background-color: rgb(36, 64, 91)!important;">
  <a class="navbar-brand" href="https://www.demant.com/" style="color: white !important;">
    <img src="../assets/Demant.png" style="height:  50px;" alt="Logo da Empresa">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="chamados" style="color: white !important;">Chamados</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="departamentos" style="color: white !important;">Departamentos</a>
      </li>
    </ul>

  </div>
</nav>
<router-outlet></router-outlet>
